@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
	font-family: 'Caveat', cursive;
}
.container {
	background-color: #F3F4F6;
	opacity: 0.8;
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

h1 {
	text-align: center;
	color: #333;
}

.client-info {
	margin-top: 20px;
	font-size: 1.5rem;
	margin-left: 200px;

}

.info-item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left; /* 文本从左边对齐 */
	margin-bottom: 10px;
}

label {
	display: inline-block;
	width: 150px; /* 设置固定宽度 */
	text-align: right; /* 设置文本右对齐 */
	margin-right: 50px; /* 添加适当的右边距 */
	font-weight: bold;
}
input {
	flex: 1;
	border: none;
	border-radius: 25px;
	outline: none;
	background-color: transparent;
	font-size: 1.2rem;
}


.centered {
	display: flex;
	justify-content: center;
	align-items: center;

}

#submitBtn {
	padding: 10px 20px; /* 你可以根据需要调整按钮的大小 */
	font-size: 16px; /* 你可以根据需要调整按钮的字体大小 */
	background-color: coral;
}